.main {
    background-color: #ffddd2;
}

.svg-container,
.canvas-container,
.animation-container {
    background-color: #edf6f9;
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
}

.canvas-container {
    background-color: #fff;
    margin-top: 24px;
}

.animation-container {
    margin-bottom: 50px;
}

.circle {
    fill: #e29578;
    stroke: aqua;
}

#lienzo {
    border: #000 2px solid;
    width: 95%;
    height: 300px;
    min-width: 300px;
}

.elemento {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    animation-name: ejemplo;
    animation-duration: 4s;
}

@keyframes ejemplo {
    from {
        background-color: #ff0000;
    }
    to {
        background-color: #ffff00;
    }
}